#about{
  width: 50%;
  margin: 5em auto;
  h2{
    text-decoration: underline;
    color: #124576;
    padding:0.5em 0;
    font-size: 1.2em;

  }
  p{
    padding: 1em 0 3em;
    a{
      color: darkgoldenrod;
      font-weight: bold;
    }
  }
} 