#header{
  border-radius: 0px;
  #nav{
    justify-content: flex-end;
    a{
      text-transform: uppercase;
      padding: 1.2em;
      font-size: 1.2em;
    }
  }
}

#login {
  width: 500px;
  margin: 100px auto;
  
  label{
    padding: 1em 0;
  }

  #loginMessage {
    font-size: 2em;
  }
}