main {
  width: 50%;
  margin: 100px auto;

  #welcomeMessage {
    text-align: center;
    padding: 2em;
    font-size: 2em;
    font-style: italic;
    font-weight: lighter;
  }

  #loginMessage {
    font-size: 2em;
    
  }
}

