#welcome {
  width: 50%;
  margin: 50px auto;

  #welcomeMessage {
    text-align: center;
    padding: 1.5em;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
  }

  #results{
    display: flex;
    
    .tabResult{
      width: 40%;
      padding:2em;
      margin: 0 3em;

      #title{
        font-size: 1.5em;
        margin-bottom: 1.5em;
        color: #666;
        font-style: italic; 
        text-align: center;
      }

      #emptyListMessage{
        text-align: center;
        color: darkred;
      }
    }
  }
}

#login {
  width: 500px;
  margin: 100px auto;

  #loginMessage {
    font-size: 2em;
  }

  #loginLabel{
    padding: 1em 0;
  }

  #errorMessage{
    margin: 0.5em 0;
  }

}

