#welcome {
  width: 50%;
  margin: 100px auto;

  #welcomeMessage {
    text-align: center;
    padding: 2em;
    font-size: 2em;
    font-style: italic;
    font-weight: lighter;
  }

  #results{
    display: flex;
    
    .tabResult{
      width: 40%;
      padding:2em;
      margin: 1em;
    }
  }
}

#login {
  width: 500px;
  margin: 100px auto;

  #loginMessage {
    font-size: 2em;
  }

  #loginLabel{
    padding: 1em 0;
  }

  #errorMessage{
    margin: 0.5em 0;
  }

}

