#search{
  width: 50%;
  margin: 100px auto;

  #researchResultMessage{
    text-align: center;
    padding: 1.5em;
    font-size: 2em;
  }

  #searchForm{
    width: 50%;
    margin: 0 auto;

    #searchLabel{
      padding: 1em 0;
      font-weight: lighter;
      font-size: 2em;
    }
    #searchButton{
        margin-left: 1em;
    }

    
  }
}